
table.workitem-list {
    width: 100%;

    margin-top: 1em;
    margin-bottom: 1em;

    thead > tr > th {
        border-bottom: 1px solid #000;
    }

    tbody > tr > td {
        
    }
    th.workitem-fn-size, td.workitem-fn-size {
        text-align: right;
    }
}
