@import "../../node_modules/bootstrap/scss/bootstrap";


div.status-page {
  div.sprint-report, div.project-report {
    @extend .row;

    div.workitem-list {
      @extend .col-lg-6;
      @extend .col-md-12;

      table {
        margin-top: 1em;
        margin-bottom: 1em;

        @extend .table;

        th.workitem-fn-size, td.workitem-fn-size {
          text-align: right;
        }
      }
    } 
  }
}
